<!DOCTYPE html>
<html>
    <title>error</title>
    <body>
        
       <h3> <%= emailid%> already in use</h3>
       <button onclick="window.location.href='/signuphtml';">Back to sign up page</button>
    </body>
</html>